 /*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  Colour Palatte
  Light Green #7CC576
  Light Blue #6DCFF6
  Background #F3F4F6
  Text #252628
*/


<!--Jenn One-->
.body, .html {
  font-family: sans-serif;  
  margin: 0;
  padding: 0;
}

.title {
  font-size: 48px;
  font-family: sans-serif;
}

.main {
  width: 900px;
  margin: 0 auto;
}

/* Header */

.header {
  display: table;
  width: 100%;
  background-color: green;
}

.header > .logo, .header > .title {
  display: table-cell;
  padding: 10px 30px;
  vertical-align: middle;
}

.header > .logo {
  display: table-cell;
  width: 100px;
}

.header > .title {
  display: table-cell;

}

.img.logo-img {
  border-radius: 100px;
}

/* Navigation */

.navigation > .row {
   float: centre;
  padding: 20px;
}

.navigation > ul {
  display: table-cell; 
  padding: 20px 50px;
}

.navigation > .row > li {
  display: table-cell;
  width: 100%;
}

.navigation > .row > li {
  background-color: green;
  padding: 20px;
  display: table-cell;
  width: 100%;
} 

.navigation > .row > li {
  list-style: none;
  display: table-cell;
  margin: 0;
  padding: 20px 30px;
}

.navigation > .row > li {
  display: block;
  padding: 20px 50px;
  background-color: cyan;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;

}



/* content area */

.content {
  display: table;
  width: 100%;
  background-color: #eaeaea;
}

.content > .col-left, .content > .col-right {
  display: table-cell;
}

.content > .col-left {
  padding: 30px;
  display: table-cell;
  vertical-align: top;
}

.content > .col-right {
  padding: 30px;
  display: table-cell;
  vertical-align: top;
  width: 300px;
}

/* Text Styling */

h1 {
  margin: 0;
}

h2 {
  margin: 0 0 20px;
}

h3 {
  margin: 0 0 20px;
}

p {
  margin: 0 0 20px;
}

.main {
  border: 2px #F3F4F6;
  box-sizing: border-box;
}

.main > .row {
  border: 1px;
  display: table;
  width: 100%;
  background-color: #F3F4F6 ;
}

.main > .row > .article,
.main > .row > .aside {
  display: table-cell;
  padding: 20px;
}


.main > .row > .photos {
  width: 100%;
  background-color: #F3F4F6;
}

.main > .row > .photos > table {
  width: 90%;
  text-align: center;
}

.row > .photos > table > tr > td {
  text-align: center;
  width: 33%;
  padding: 20px;
  margin-left: 20px;
}

.footer {
  background-color: green;
  padding: 20px;
}

.footer {
  width: 100%;
  background-color: green;
}

.footer > table td:nth-child(2){
  width: 100%;
  text-align: right;
}

.ul .social {
  margin: 10px 10px;
  padding: 20px;
}

.social {
  display: row;
  list-style: none;  
  margin-right: 200px;
}

.social > li {
  float: right;
  padding: 20px;
}