

 /*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: helvetica value: sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img{
  width: 100%;
}
/*CSS clearfix*/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*
  Colour Palatte
  Light Green #7CC576
  Light Blue #6DCFF6
  Background #F3F4F6
  Text #252628
*/



.title {
  font-size: 38px;
  font-family: sans-serif;
}

/* Header */

.header {
  display: table;
  width: 100%;
  background-color: #7CC576;
}

.header > .logo, .header > .title {
  display: table-cell;
  padding: 10px 30px;
  vertical-align: middle;
}

.header > .logo {
  display: table-cell;
  width: 110px;
}

.header > .title {
  display: table-cell;
}

/* Navigation */

.navigation > .row {
   float: right;
  padding: 20px;
  width: 80%;
}

.navigation > .row > li {
  background-color: #6DCFF6; 
  display: table;
  width: 25%;
  float: left;
  border-radius: 3px;
  padding: 20px 20px;
  box-sizing: border-box;

} 

/* content area */

.content > .col-left, .content > .col-right {
  display: table-cell;
}

.content > .col-left {
  padding: 30px;
  display: table-cell;
  vertical-align: top;
}

.content > .col-right {
  padding: 30px;
  display: table-cell;
  vertical-align: top;
  width: 300px;
}

/* Text Styling */

h1 {
  margin: 0;
}

h2 {
  margin: 0 0 20px;
}

h3 {
  margin: 0 0 20px;
}

p {
  margin: 0 0 20px;
}

.content {
  box-sizing: border-box;
  border: 1px;
  display: table;
  width: 100%;
  background-color: #F3F4F6 ;
}

.photos > tr {
  width: 100%;
  float: left;
}

.footer {
  background-color: #7CC576;
  padding: 20px;
}

.social > li {

  display: inline;
  float: right;
  padding: 10px;
  box-sizing: border-box;
}


