 /*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS clearfix*/

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/*colour palatte 

	teal : #72A9AE rgb 114,169,174
	dark grey : #454545 rgb 69,69,69
	light grey : #EFEFEF rgb 239,239,239
	white : FFFFFF rgb 255,255,255
	yellow : FFEB3B rbg 255,235,59
*/


.main-container, .footer {
	width: 100%;
}

header {
	background: #FFFFFF;
	width: 100%;
}

.logo {
	padding: 15px;
}

.header-nav {
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #72A9AE;
}

.header-nav-ind {
	float:  left;
	font-family: 'Roboto', sans-serif;
} 

.header-nav-ind > a {
	display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header-nav-container {

}

li:hover{
	background: #FFEB3B;
	transition-property: color;
	transition-duration: 5s;
}


.main-container {
	background-image: url(../img/webb.png);
}

.site-content {
	text-align: left;
	width: 60%;
	box-sizing: border-box;
	font-family: 'abhaya_libreregular'; 
	padding:  15px;
	display: inline-block;
}

.schedule {
	border: 1px solid;
	box-sizing: border-box;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}

th {
	background: #FFFFFF;
	border: 1px solid;
	border-color: #000000;
	padding: 5px;
	text-align: center;
}

.schedule-headers {
	font-weight: bold;
	color: #72A9AE ;
}

.section-headers-2 {
	font-weight: bolder;
	color: #72A9AE ;
	padding: 5px;
}

tr:nth-child(odd) {
	background: #EFEFEF; 
	border: 1px solid;
	text-align: center;
} 

tr:nth-child(even) {
	background: #FFFFFF; 
	border: 1px solid;
	text-align: center;
} 

td {
	border:  1px solid;
	text-align: center;
	width: 10%;
}

.site-sidebar {
	font-family: 'Roboto', sans-serif;
}

.profile-edit > h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: bolder;
	padding: 15px;
	font-weight: bolder;
	color: #72A9AE ;
	margin-left: auto;
	margin-right: 15%;
}

.profile-right > h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: bolder;
	padding: 15px;
	font-weight: bolder;
	color: #72A9AE ;
	margin-left: auto;
	margin-right: 15%;
}


h2 {
	font-size: 24px;
}

.profile {
	padding: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: bolder;
}


.profile-info {

}

footer {
	width: 100%;
	background-color: #454545;
	display: inline-block;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: roboto, sans-serif;
	color: #FFFFFF;
	box-sizing: border-box;
}

.footer-containter {
	float: left;
	width: 30%;
	font-weight: bold;
	font-size: 1000px;
}

.footer-social {
	width: 30%;
	display:  inline-block;
	font-weight:  bold;
	text-align: center;
}

.footer-social > nav > ul > li {
	display:  inline-block;
	padding:  5%;
}

.footer-nav > li > a {
	  text-decoration: none;
  	color: #FFFFFF;
  	padding:  15px;
  	margin-left:  15px;
		line-height: 2.5em;
}

.footer-nav > h3 {
	font-weight: bold;
}

.footer-nav {
	float:  left;
	padding:  15px;
	width: 30%;
}

.footer-address {
	float: right;
	width: 30%;
	display:  inline-block;
}

.footer-address > p {
	padding:  15px;
}

.footer-address > h3 {
	line-height: 2.5em;
	font-weight: bolder;
}

.col-right {
	display:  table-cell;
	padding: 30px;
  vertical-align: top;
  width: 300px;
}

.col-left {
  padding: 30px;
  display: table-cell;
  vertical-align: top;
}

.profile-left{
	display:  inline-block;
	float:  left;
	padding-left:  100px;
}

.profile-right {
	display:  inline-block;
	float:  right;
	padding:  15px;

	margin-left: auto;
	margin-right: 5%;
}

.profile-card{
	/* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
	border: 1px solid;
	border-color: #000000;
	background:  whitesmoke;
	padding:  15px;
}

.profile-card > .profile-name {
	text-align:  center;
	font-weight: bolder;
	color: #72A9AE ;
}

.profile-card > .email {
		text-align:  center;
}

.profile-card > .address {
		text-align:  center;
}

.profile-card > .city {
		text-align:  center;
}

.profile-card > .province {
		text-align:  center;
}

.profile-card > .postalcode {
		text-align:  center;
}

.profile-card:hover {
	  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.profile-container {
}

header, main, footer {
	max-width: 1280px;
	margin: 0 auto
}
@media only screen and (min-width:  768px) {

}