 /*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS clearfix*/

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/*colour palatte 

	teal : #72A9AE rgb 114,169,174
	dark grey : #454545 rgb 69,69,69
	light grey : #EFEFEF rgb 239,239,239
	white : FFFFFF rgb 255,255,255
	yellow : FFEB3B rbg 255,235,59
*/


.main-container, .footer {
	width: 100%;
}

header {
	background: #FFFFFF;
	width: 100%;
}

.logo {
	float: left;
	width: 100px;
	padding: 15px;
	box-sizing: border-box;
	background: #FFFFFF;
}

.header-nav-ind {
	width: 20%;
	box-sizing: border-box;
	display: inline;
	padding: 15px;
	background: #72A9AE;
}

li:hover{
	background: #FFEB3B;
	transition-property: color;
	transition-duration: 5s;
}


.main-container {
	background-image: src="img/webb.png" alt="webb.png";
}
/*the background image isn't working, not sure why*/

.site-content {
	text-align: left;
	width: 60%;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

a:before, a:after {
	content: "";
	display: inline-block;
	width: 5px;
	height: 5px;
	background-size: 100%;
	margin: 0 10px;

}
th:nth-child(odd) {
	background: #EFEFEF;
}

/*this option had no effect
.r1:nth-child(even) {
	background: #EFEFEF;
} */

/* this option greys out every other row
tr:nth-child(even) {
	background: #EFEFEF;
} */

/* this option grey's out every other column */
td:nth-child(even) {
	background: #EFEFEF; 
} 

.site-img {
/*	position: fixed;
	width: 100%;
	height: 100px;
	z-index: 100px;
	float: right;
	width: 30%;
	padding: 10px;

	these commands make the picture go on top of the schedule
*/
}

.site-sidebar {
	font-family: 'Roboto', sans-serif;
}

.profile-edit {
	width: 50%;
}

.profile-info {
	width: 50%;
}
footer {
	background: #454545;
	padding: 15px;
	margin: 0 auto;
	box-sizing: border-box;
}

.footer-nav {
	float: left;
	width: 100%;


}

.footer-social {
	padding: 15px;
	margin: 0 auto;
	display: inline;
}

.social-container {
	width: 100%;
	box-sizing: border-box;
	display: inline;
}

.footer-address {
	width: 100%;
	float: right;

	display: block;
}


header, main, footer {
	max-width: 1280px;
	margin: 0 auto
}

@media only screen and (min-width:  768px) {

}