/*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: helvetica value: sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img{
  width: 100%;
}
/*CSS clearfix*/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body, html {
  font-family: sans-serif;  
  margin: 0;
  padding: 0;
}

/*
  Colour Palatte
  Light Green #7CC576
  Light Blue #6DCFF6
  Background #F3F4F6
  Text #252628
*/

.main {
  width: 900px;
  margin: 0 auto;
  background-color: #F3F4F6;
}

/* Header */

.header {
  display: table;
  width: 100%;
  background-color: #7CC576;
}

.header > .logo, .header > .title {
  display: table-cell;
  padding: 10px 30px;
  vertical-align: middle;
}

.header > .logo {
  display: table-cell;
  width: 100px;
}

.header > .title {
  display: table-cell;
}

img.logo-img {
  border-radius: 100px;
}

/* Navigation */

nav.navigation {
  display: table;
  width: 100%;
}

#top-nav {
  background-color: #7CC576;
  padding: 20px;
  display: table-row;
  width: 100%;
}

#top-nav > li {
  list-style: none;
  display: table-cell;
  margin: 0;
  padding: 20px 30px;
}

#top-nav > li > a {
  display: block;
  padding: 20px 50px;
  background-color: #6DCFF6;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

ul > li > a:hover {
  background-color: yellow;
}

/* content area */

.content {
  display: table;
  width: 100%;

}

.content > .col-left, .content > .col-right {
  display: table-cell;
}

.content > .col-left {
  padding: 30px;
  display: table-cell;
  vertical-align: top;
}

.content > .col-right {
  padding: 30px;
  display: table-cell;
  vertical-align: top;
  width: 300px;
}

#secondary-nav > li {
  list-style: none;
  display: table-cell;
  margin: 0;
  padding: 20px 30px;
}

#secondary-nav > li > a {
  display: block;
  padding: 20px 50px;
  background-color: #6DCFF6;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}


.secondary-content {
  padding:  20px;
  display:  table-cell;
  vertical-align:  top;
  width:  100%;
  background-color: #F3F4F6;
}

.secondary-content > .secondaryfeature {
  display:  table-cell;
  margin: 0;
  padding:  10px 10px;
  text-align: center;
  background-color: #F3F4F6;
}

.content > .secondary-content > .secondaryfeature > .secondaryimage {
  display:  inline-block;
  padding: 20px 50px;
}

img.col-img {
  width: 100%;
  margin-bottom: 100px;
}

/* Text Styling */

h1 {
  margin: 0;
  font-size: 32px;
}

h2 {
  margin: 0 0 20px;
  font-size: 24px;
}

h3 {
  margin: 0 0 20px;
  font-size: 24px;
}

p {
  margin: 0 0 20px;
}

.footer {
  background-color: #7CC576;

  width: 100%;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
}

.copyright {
  float: left;
  width: 60%;
  padding-top: 20px;
}

.social-container {
  float: left;
  width: 40%;
}

.copyright-clearfix {
  padding-top: 50px;
  box-sizing: border-box;
}
#social > li {
  display: inline;
  float: right;
  padding:  15px;
}
